<div class="container " >
    <div class="row border border-danger p-1">
        <div class="col-12 border border-success">

            


            <div class="table-responsive-lg">
            <table class="table table-white table-bordered table-hover align-middle">
                <thead class="table-bordered table-hover  align-middle text-center">
                    <tr class="">
                        <th>Titulo da tarefa</th>
                        <th>Data da tarefa</th>
                        <th>Descrição da tarefa</th> 
                        <th colspan="3">
                            <a href="#" [routerLink]="['/inserir-tarefa']" class="btn btn-success">
                                <i class="fa fa-plus" aria-hidden="true"></i> Nova Tarefa
                            </a>
                        </th>
                    </tr>

                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let tarefa of tarefas"> <!--  -->
                        <td >
                            {{tarefa.titulo | descricaoReduzida:20:3}}
                        </td>
                        <td>
                            {{tarefa.data | date : 'dd/MM/yyyy' }} 
                        </td>
                        <td>
                            {{tarefa.descricao | descricaoReduzida:30:3}}
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm" [routerLink]="['/editar-tarefa', tarefa.id]">
                                Editar
                            </button>
                        </td>
                        <td>                            
                            <button class="btn btn-primary mx-2 btn-sm"  [routerLink]="['/finalizar-tarefa', tarefa.id]">
                                Finalizar
                            </button>
                            
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" (click)="remover($event,tarefa)">
                                Excluir
                            </button>
                        </td>
                    </tr>
                    <!--<tr >
                        <td>
                            Y
                        </td>
                        <td>
                            Titulo da Tarefa y
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary">
                                Acessar
                            </button>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            Z
                        </td>
                        <td>
                            Titulo da Tarefa z
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary">
                                Acessar
                            </button>
                        </td>
                    </tr>-->
                </tbody>
            </table>
            

            </div>






























        </div>

    </div>
</div>