<div class="container-fluid">
    <div class="row linha-central m-1">
        <div class="col-md-6" > <!-- Letreiro -->
            <div class="row my-1 mt-4 mb-3">
                <div class="col-md-12 offset-1">
                    <h1 class="display-5 ">
                        Lista de Tarefas
                    </h1>

                </div>
                
            </div>
            <div class="row mt-4 justify-content-end descricao">
                <div class="col-md-9 text-end fs-5">
                    <p class="">
                        Mantenha o controle na sua rotina de maneira simples e intuitiva.
                    </p>
                    <hr>
                    <p class="">
                        Melhore sua produtividade e consiga se organizar da maneira que achar melhor.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 m-auto "> <!-- Formulario de login e cadastro -->
            <div class="row ">
                <div class="col-md-8 offset-md-2 " >
                    <div class="row ">                        
                        <form class="" > <!-- FormLogin -->
                            <div class="form-group my-1"> <!-- Usuario - Email // Inicio -->
                                <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Nome de usuário ou E-mail" aria-describedby="usuario-aviso">
                                <div> <!-- ngIf *ngIf="titulo.errors && (titulo.dirty || titulo.touched)"-->
                                    <div id="usuario-aviso" class="form-text text-danger">
                                        <div> <!-- [hidden] [hidden]="!titulo.errors?.['required']"-->
                                            Insira o nome de usuario ou email 
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Usuario - Email // Fim -->

                            <div class="form-group my-1"> <!-- Senha // Inicio -->
                                <input class="form-control" type="text" name="senha" id="senha" placeholder="Senha" aria-describedby="senha-aviso">
                                <div> <!-- ngIf *ngIf="titulo.errors && (titulo.dirty || titulo.touched)"-->
                                    <div id="senha-aviso" class="form-text text-danger">
                                        <div> <!-- [hidden] [hidden]="!titulo.errors?.['required']"-->
                                            Insira sua senha 
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- Senha // Fim -->

                            <div class="d-grid gap-2 form-group text-center col-10 offset-1 mt-3">
                                <button class="btn btn-primary" type="button">Entrar</button>
                                <a href="">Esqueceu a senha?</a>    
                            </div>

                            <div class="col-10 offset-1 mt-1">
                                <div class="d-grid gap-2 form-group text-center col-10 offset-1">
                                    <button class="btn btn-success" (click)="abrirModalCadastro()" type="button">Criar Conta</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>