<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-end" > <!-- Letreiro -->
            <app-letreiro></app-letreiro>
        </div>


        <div class="col-sm-6 d-flex justify-content-start " *ngIf = 'cadastro; else formLogin'><!-- Formulario de login e cadastro -->
            <div 
                class="" 
                [@animacao-painel] ='estadoPainel'
                (@animacao-painel.start) ='inicioAnimacao()'
                (@animacao-painel.done) ='fimAnimacao()'
                >
                <app-form-cadastro (exibirPainel) = 'exibirPainel($event)'></app-form-cadastro>  
            </div>  
        </div>
        <ng-template #formLogin>
            <div 
                class="col-sm-6 d-flex justify-content-start" 
                [@animacao-painel] ='estadoPainel'
                (@animacao-painel.start) ='inicioAnimacao()'
                (@animacao-painel.done) ='fimAnimacao()'
                >
                <app-form-login (exibirPainel) = 'exibirPainel($event)'></app-form-login>  
            </div>  
        </ng-template>
    </div>
</div>

