<div class="container-fluid bg-light">
    <div class="row"> <!-- Linha Principal do Container -->

        <div class="col-lg-2 my-1"> <!-- Primeira Coluna // Inicio -->
            <div class="col-12 my-1 text-center">
                <a href="#" [routerLink]="['/inserir-tarefa']" class="btn btn-outline-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Nova Tarefa
                </a>
            </div>
        </div> <!-- Primeira Coluna // Fim -->

        <div class="col-lg-4 text-center"> <!-- Segunda Coluna // Inicio -->
                <h3 class=""> Tarefas Ativas </h3>

                <div class="row m-1 border border-dark">
                    <div class="col-12">

                        <div class="row border border-success rounded m-1 p-1 justify-content-center" *ngFor="let tarefa of tarefas">                        
                            <div class="row border-bottom border-dark text-center ">
                                <p class="tituloTarefaNgFor">Titulo : {{tarefa.titulo | descricaoReduzida:15:3}}</p>
                            </div>
                            <div class="row p-2">
                                <div class="col-4">
                                    <button class="btn btn-primary btn-sm" [routerLink]="['/editar-tarefa', tarefa.id]">
                                        Editar
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-success btn-sm" [routerLink]="['/finalizar-tarefa', tarefa.id]" >
                                        Finalizar
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="remover($event,tarefa)">
                                        Excluir
                                    </button>
                                </div>

                            </div>
                            
                            

                        </div>


                    </div>
                </div>



            
        </div>  <!-- Segunda Coluna // Fim -->

        <div class="col-lg-5 mx-0 mx-lg-2"> <!-- Terceira Coluna // Inicio -->

            <div class="row m-1 border border-dark text-center">

                <h4> Historico de tarefas finalizadas </h4>

                <table class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Titulo da tarefa</th>
                            <th>Data da tarefa</th>
                            <!--<th></th>-->
                        </tr>
                        <tr *ngFor="let tarefa of tarefasFinalizadas">
                            <td>
                                {{tarefa.titulo | descricaoReduzida:15:3}}
                            </td>
                            <td>
                                {{tarefa.data | date : 'dd/MM/yyyy' }}
                            </td>
                            <!--<td>
                                <button type="button" class="btn btn-secondary">
                                    Acessar
                                </button> &nbsp;

                                <button type="button" class="btn btn-danger" (click)="remover($event,tarefa)">
                                    <i class="fa fa-times" aria-hidden="true"></i> Excluir
                                </button>
                            </td>-->
                        </tr>
                        <!--<tr >
                            <td>
                                Y
                            </td>
                            <td>
                                Titulo da Tarefa y
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary">
                                    Acessar
                                </button>
                            </td>
                        </tr>
                        <tr >
                            <td>
                                Z
                            </td>
                            <td>
                                Titulo da Tarefa z
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary">
                                    Acessar
                                </button>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
                
            </div>




        </div> <!-- Terceira Coluna // Fim -->

    </div>

</div>








