
<div class="container-fluid mb-3 " >

    <nav class="navbar navbar-expand-md text-right">
        <div class="container-fluid ">

            <!-- Logos -->
            <a class="navbar-brand" href="#">
                <img id="meuLogo" src="../../assets/LogoDesktop.svg" alt="logo" class=" d-none d-md-inline img-fluid ">
                <img id="meuLogo" src="../../assets/LogoMobile.svg" alt="logo" class=" d-inline d-md-none img-fluid ">
            </a>

            <!-- Menu hambúrguer -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navegação -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link active" routerLinkActive='active' href="#">Pagina inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tarefas Ativas </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Historico de tarefas </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




</div>


