
<div class="row my-1 mt-4 mb-3">
    <div class="col-md-12 offset-1">
        <h1 class="display-4 ">
            Lista de Tarefas
        </h1>

    </div>
    
</div>

<div class="row mt-4 justify-content-end descricao">
    <div class="col-md-8 text-end fs-5">
        <p class="">
            Mantenha o controle na sua rotina de maneira simples e intuitiva.
        </p>
        <hr>
        <p class="">
            Melhore sua produtividade e consiga se organizar da maneira que achar melhor.
        </p>
    </div>
</div>

